.data-table-header--default {
  white-space: nowrap;
  display: flex;
  font-size: 12px;
  font-weight: 700;
}

.data-table-header__sort-icon {
  margin: 8px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  width: 12px;
}

.data-table-header__sortable {
  cursor: pointer;
  white-space: nowrap;
}

.data-table-content {
  padding: 0 15px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  min-width: 0;
  flex-wrap: wrap;
  flex-flow: row;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.data-table-content__end {
  justify-content: flex-end;
  padding-right: 0;
}

.data-table-content__no-margin:first-child {
  padding-left: 0;
}

.data-table-content__no-margin:last-child {
  padding-right: 0;
}

.data-table-content-cards {
  border-radius: 6px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  height: auto;
  padding: 0;
  flex: 1 1;
  align-items: flex-start;
}

.data-table-content-grid {
  padding: 0;
}

.data-table-row {
  position: relative;
  list-style: none;
  height: 70px;
  padding: 0 7px;
  display: flex;
}

a.data-table-row {
  color: inherit;
  text-decoration: none;
  text-decoration: initial;
}

.data-table-row--focusable:active,
.data-table-row--focusable:focus {
  background: #e3e3e3;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  outline: none;
}

.data-table-row-grid {
  position: relative;
  width: 100%;
 /* Remove top border 
  border-top: 1px solid #e3e3e3;*/
  border-radius: 0;
  height: auto;
  margin: 0;
  padding: 0;
}

@media(min-width:576px) {
  .data-table-row-grid {
    border-left: 1px solid #e3e3e3;
  }
}

@media(min-width:576px)and (max-width:767.98px) {
  .data-table-row-grid {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .data-table-row-grid:nth-child(1n+1) {
    border-left: 0;
  }

  .data-table-row-grid.data-table-row--blank-fill:nth-child(1n+1),
  .data-table-row-grid.data-table-row--blank-fill:nth-child(1n+1)~.data-table-row--blank-fill {
    border-left: 0;
    display: none;
  }
}

@media(min-width:768px)and (max-width:991.98px) {
  .data-table-row-grid {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .data-table-row-grid:nth-child(odd) {
    border-left: 0;
  }

  .data-table-row-grid.data-table-row--blank-fill:nth-child(odd),
  .data-table-row-grid.data-table-row--blank-fill:nth-child(odd)~.data-table-row--blank-fill {
    border-left: 0;
    display: none;
  }
}

@media(min-width:992px)and (max-width:1199.98px) {
  .data-table-row-grid {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .data-table-row-grid:nth-child(3n+1) {
    border-left: 0;
  }

  .data-table-row-grid.data-table-row--blank-fill:nth-child(3n+1),
  .data-table-row-grid.data-table-row--blank-fill:nth-child(3n+1)~.data-table-row--blank-fill {
    border-left: 0;
    display: none;
  }
}

@media(min-width:1200px) {
  .data-table-row-grid {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .data-table-row-grid:nth-child(3n+1) {
    border-left: 0;
  }

  .data-table-row-grid.data-table-row--blank-fill:nth-child(3n+1),
  .data-table-row-grid.data-table-row--blank-fill:nth-child(3n+1)~.data-table-row--blank-fill {
    border-left: 0;
    display: none;
  }
}

.data-table-row__default-hover-style:hover {
  background: #e5eeed;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}

@media(max-width:575.98px) {
  .data-table-row--blank-fill {
    display: none;
  }
}

.data-table-row-cards {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 30px;
  padding: 0;
}

@media(min-width:576px) {
  .data-table-row-cards {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .data-table-row-cards:last-child {
    margin-bottom: 0;
  }
}

@media(min-width:992px) {
  .data-table-row-cards {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .data-table-row-cards:nth-child(odd)>* {
    margin-right: 15px;
  }

  .data-table-row-cards:nth-child(2n)>* {
    margin-left: 15px;
  }

  .data-table-row-cards:last-child,
  .data-table-row-cards:nth-child(odd):nth-last-child(2) {
    margin-bottom: 0;
  }
}

.data-table-row-cards>* {
  margin: 0 auto;
}

.data-table-row__tweak-alternate-row-colors {
  margin: 0;
}

.data-table-row__tweak-alternate-row-colors:nth-child(odd) {
  background-color: #eee;
}

.data-table-row__tweak-growing-row-height {
  height: auto;
  min-height: 70px;
}

.data-table-row__tweak-no-row-height {
  height: auto;
  min-height: 0;
}

.data-table-row__tweak-no-margin {
  padding: 0;
}

.data-table-row__tweak-row-borders {
  border-bottom: 1px solid #d8d8d8;
}

.data-table-row__tweak-row-borders:first-child {
  border-top: 1px solid #d8d8d8;
}

.data-table {
  color: #2e2e2e;
}

.data-table--scrollable {
  overflow: auto;
}

.data-table__rows {
  padding: 0;
  margin: 0;
}

.data-table__header-container {
  display: flex;
  height: 47px;
  line-height: 47px;
  text-transform: uppercase;
  padding: 0 7px;
}

.data-table__header-container--hidden {
  display: none !important;
}

.data-table__header-container--sticky {
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;
}

.data-table-content+.data-table-content>.data-table__placeholder-content {
  visibility: hidden;
}

.data-table__tweak-no-margin,
.data-table__tweak-no-margin .data-table__header-container {
  padding: 0;
}

.data-table__tweak-unstyled-headers>.data-table__header-container {
  line-height: inherit;
  text-transform: none;
  align-items: center;
}

.data-table__tweak-side-borders {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.data-table__tweak-tight-columns .data-table-content,
.data-table__tweak-tight-columns .data-table-header {
  padding-left: 8px;
  padding-right: 8px;
}

.data-table__tweak-tight-columns .data-table-header__sort-icon {
  height: 18px;
  margin: 0 4px;
}

.data-table-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.data-table-grid__rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.data-table-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.data-table-cards__rows {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 15px;
}


.cr-standard-grid-item-content {
  display: flex;
  height: 100%;
  max-width: 100%;
  align-items: center;
  margin: 0 30px 0 45px;
  overflow: hidden;
}

.cr-standard-grid-item-content__image {
  display: block;
  margin-right: 15px;
  width: 110px;
  height: 110px;
  min-width: 110px;
}

.cr-standard-grid-item-content__title {
  width: 100%;
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 5px;
}

@media(max-width:575.98px) {
  .cr-standard-grid-item-content__title {
    font-size: 16px;
  }
}

.cr-standard-grid-item-content__subtitle {
  width: 100%;
  color: #2e2e2e;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  max-height: 38px;
}

.cr-standard-grid-item-content__details {
  flex-grow: 1;
  min-width: 1px;
}

.c-grid-item {
  display: flex;
  height: 198px;
  text-decoration: none;
  width: 100%;
  outline-offset: -3px;
}