<section class="page-section" id="career">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        {{ "career.title" | translate }}
      </h2>
      <h3 class="section-subheading text-muted">
        {{ "career.subtitle" | translate }}
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            style="background-color: white"
            src="assets/img/about/13.png"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item13.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item13.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item13.description" | translate }}
            </p>
          </div>
        </div>
      </li>

      <!-- Plain Concepts-->
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            style="background-color: white"
            src="assets/img/about/12.svg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item12.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item12.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item12.description" | translate }}
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            style="background-color: white"
            src="assets/img/about/11.png"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item11.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item11.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item11.description" | translate }}
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            style="background-color: white"
            src="assets/img/about/10.png"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item10.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item10.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item10.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/9.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item9.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item9.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item9.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/8.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item8.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item8.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item8.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/7.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item7.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item7.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item7.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/6.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item6.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item6.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item6.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/5.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item5.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item5.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item5.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/4.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item4.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item4.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item4.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/3.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item3.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item3.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item3.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/2.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "career.item2.date" | translate }}</h4>
            <h4 class="subheading">{{ "career.item2.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item2.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/about/1.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2011-2013</h4>
            <h4 class="subheading">{{ "career.item1.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item1.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            {{ "career.ending-line1" | translate }}
            <br />
            {{ "career.ending-line2" | translate }}
            <br />
            {{ "career.ending-line3" | translate }}
          </h4>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">{{ "career.item0.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "career.item0.description" | translate }}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
