<section class="page-section" id="aboutme">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        {{ "about.title" | translate }}
      </h2>
      <h3 class="section-subheading text-muted">
        {{ "about.subtitle" | translate }}
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fab fa-leanpub fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">{{ "about.learning-title" | translate }}</h4>
        <p class="text-muted">{{ "about.learning-description" | translate }}</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">{{ "about.net-title" | translate }}</h4>
        <p class="text-muted">{{ "about.net-description" | translate }}</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-cloud fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">{{ "about.backend-title" | translate }}</h4>
        <p class="text-muted">{{ "about.backend-description" | translate }}</p>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">{{ "about.passion-title" | translate }}</h4>
        <p class="text-muted">{{ "about.passion-description" | translate }}</p>
      </div>
    </div>
  </div>
</section>
